services:
    vue:
        build: .docker/vue    
        working_dir: /www/vue
        volumes:
            - ./web:/www
        ports:
            - ${VUE_PORT}:3000
        stdin_open: true
        tty: true
        environment:
            - APP_ENV=development
        env_file:
            - .env
        networks:
            - network

networks:
    network:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 172.58.0.0/16
                  gateway: 172.58.0.1