<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>lesson 12</title>
        <script src="https://unpkg.com/vue@3"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
    <script>
        // input, textarea, checkbox, radio, select
        // 修飾符
        const app = Vue.createApp({
            data() {
                return {
                    message1: "hello",
                    message2: 123,
                    message3: "hello",
                    checkbox1: true,
                    checkbox2: [],
                    radio1: "",
                    select1: "",
                    select2: [],
                    select3: [],
                    options3: [
                        {
                            text: "A",
                            value: "A",
                        },
                        {
                            text: "B",
                            value: "B",
                        },
                        {
                            text: "C",
                            value: "C",
                        },
                    ],
                    select4: [],
                    options4: [
                        {
                            text: "A",
                            value: { value: "A" },
                        },
                        {
                            text: "B",
                            value: { value: "B" },
                        },
                        {
                            text: "C",
                            value: { value: "C" },
                        },
                    ],
                    checkbox3: "world",
                };
            },
            template: `
                <div>
                    {{message1}}
                    <input v-model="message1" /><br /><br />
                    <input v-model.lazy="message1" /><br /><br />
                    <textarea v-model="message1" /><br /><br />
                    <input type="checkbox" v-model="checkbox1" /><br /><br />

                    {{typeof message2}}
                    <input v-model.number="message2" type="number" /><br /><br />

                    {{message3}}
                    <input v-model.trim="message3" /><br /><br />

                    {{checkbox2}}
                    jack <input type="checkbox" v-model="checkbox2" value="jack" />
                    dell <input type="checkbox" v-model="checkbox2" value="dell" />
                    lee <input type="checkbox" v-model="checkbox2" value="lee" /><br /><br />

                    {{radio1}}
                    jack <input type="radio" v-model="radio1" value="jack" />
                    dell <input type="radio" v-model="radio1" value="dell" />
                    lee <input type="radio" v-model="radio1" value="lee" /><br /><br />

                    {{select1}}
                    <select v-model="select1">
                        <option disabled value="">請選擇內容</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select><br /><br />

                    {{select2}}
                    <select v-model="select2" multiple>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select><br /><br />

                    {{select3}}
                    <select v-model="select3" multiple>
                        <option v-for="item in options3" :value="item.value">{{item.text}}</option>
                    </select><br /><br />

                    {{select4}}
                    <select v-model="select4" multiple>
                        <option v-for="item in options4" :value="item.value">{{item.text}}</option>
                    </select><br /><br />

                    {{checkbox3}}
                    <input type="checkbox" v-model="checkbox3" true-value="hello" false-value="world" /><br /><br />
                </div>
            `,
        });
        const vm = app.mount("#root");
    </script>
</html>
